<h1><%= @sponsoredpost.title %></h1>

<div class="row">
    <div class="col-md-8">
        <p><%= @sponsoredpost.body %></p>
    </div>
    
    <div class="col-md-4">
        <%= link_to "Edit", edit_sponsored_post_path(@sponsoredpost.body, @sponsoredpost), class: 'btn btn-success' %>

    </div>
    
</div>
